<html>
<head>
    <style>
    body {
        background-image: URL('https://st.depositphotos.com/1411447/3588/i/950/depositphotos_35888189-stock-photo-background-of-security-concept-encryption.jpg')
    }
    div {
        text-align: left;
        background-color: #7FFFD4;
        text-align: center;
        font-weight: bold;
    }
</style>
</head>
    <body>
    <div>
BITCH ASSSSS NIGGGAAAAAAAAA
        Caesar Cipher, enter the text and the number anount you would like to shift. 
        <form>
            <input type='text' name='text' value='Enter text to be ciphered.' />
            <input type='number' name='key' step='1' />
            <input type='submit' value='shift' />
        </form>
        The Caesar cipher, also known as a shift cipher, is one of the simplest forms of encryption. It is a substitution cipher where each letter in the original message (called the plaintext) is replaced with a letter corresponding to a certain number of letters up or down in the alphabet.
    </div>
       </body>
</html>
